
    <!-- About Section -->
    <section id="en.about" class="container content-section text-center">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2">
                <h2>About TaCoS 2020</h2>
<p>Following the summers of 2001, 2009 and 2016, we are hosting TaCoS for the fourth time in Heidelberg! We are excited to give you the opportunity to present your work, attent interesting workshops and talks, and to explore the postcard motive that is Heidelberg! For this year, we want to open the conference to linguists of all walks of life! What this will look like, we will announce shortly. Until then, no matter if you study translation studies, semantics or proto-germanic linguistics, mark the TaCoS 2020 in your calendar! <br>
You can contact the conference team at <a href="mailto:2020@linguistik.computer">2020@linguistik.computer</a>.<br>
The conference languages are English and German. We will try to provide as many talks and workshops in English as possible, but we can not guarantee that there will be an English language talk at every time slot. If you need a sign language interpreter, get in touch with the conference team as soon as possible.</p>            </div>
        </div>
    </section>
