    <section id="en.registration" class="content-section text-center">
        <div class="download-section">
            <div class="container">
                <div class="col-lg-8 col-lg-offset-2">
                    <h2>Registration Reminder</h2>
                    <p>If you want to be notified as soon as registration opens, you can use the form below. You will recieve exactly one email and we will delete all collected information afterward.</p>
                    <form action="https://formspree.io/xwkokylq" method="POST">
                      <label>
                        Your email:
                        <input type="text" name="_replyto" required="" placeholder="Your email">
                      </label>&nbsp;&nbsp;
                      <label>
                        Your university (optional):
                        <input name="uni" id="university" placeholder="Your university (optional)" type="text">
                        </label><br>
                      <button type="submit" style="color: black">Send</button>
                    </form>
                </div>
            </div>
        </div>
    </section>
