 <section id="en.sponsors" class="container content-section text-center">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2">
                    <h2>Sponsors</h2>
                     If you or your company want to sponsor this year's TaCoS, please email <a href="mailto:tacos2020@linguistik.computer">tacos2020@linguistik.computer</a>. We are happy to make you an offer or work with you to come up with an individual solution!
            </div>
        </div>
    </section>
