    <section id="registration" class="content-section text-center">
        <div class="download-section">
            <div class="container">
                <div class="col-lg-8 col-lg-offset-2">
                    <h2>Anmeldungsalarm</h2>
                    <p>Wenn du benachrichtigt werden möchtest, sobald die Anmeldung offen ist, kannst du dieses Formular nutzen. Du erhälst genau eine Email über die angegebene Adresse und wir löschen sämtliche Email-Adressen im Anschluss.</p>
                    <form action="https://formspree.io/xwkokylq" method="POST">
                      <label>
                        Deine Email:
                        <input type="text" name="_replyto" required="" placeholder="Deine Email">
                      </label>&nbsp;&nbsp;
                      <label>
                        Deine Universität (optional):
                        <input name="uni" id="university" placeholder="Deine Universität (optional)" type="text">
                        </label><br>
                      <button type="submit" style="color: black">Senden</button>
                    </form>
                </div>
            </div>
        </div>
    </section>
